{% extends "app/base.html" %}

{% block title %}Login{% endblock %}
{% load crispy_forms_tags %}


{% block content %}
	
    <section class="base-section">
        <div class="container">
          <div class="row">
                <!-- ***** FAQ Start ***** -->
                <div class="col-md-10 offset-md-1">

                    <div class="base-title text-center pb-1">
                        <h2>Login</h2>
                    </div>
                </div>
                <div class="col-md-10 offset-md-1">
                    <form method="POST" class="form-group">
                        {% csrf_token %}
                        <!-- to error: add class "has-danger" -->
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                        
                        <div class="sign-up">
                            Don't have an account? <a href="/register">Create One</a>
                        </div>
                    </form>
                </div>
                </div>
            </div>
            </section>
{% endblock %}