{% extends "app/dash_base.html" %}

{% block title %}Create New Ticket{% endblock %}

{% block sidnav %}
<li>
    <a href="/dashboard/tickets">
      <i class="fa fa-ticket" aria-hidden="true"></i> Tickets
    </a>
  </li>
{% endblock %}
{% load crispy_forms_tags %}
{% block content%}
<form method="POST" class="form-group">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success btn-block"> <i class="fa fa-check-circle-o" aria-hidden="true"></i>  Create</button>
    <a type="button" href="/dashboard/tickets" class="btn btn-danger btn-block" style="color: white;"><i class="fa fa-times-circle-o" aria-hidden="true"></i>  Cancel</a>
</form>
{% endblock %}