{% extends base_template_name %}
{% load static %}
{% block title %}Create New Ticket{% endblock %}


{% load crispy_forms_tags %}
{% block content%}

<div class="col-md-10">

  <div class="base-title text-center pb-1">
      <h2>Create New Ticket</h2>
  </div>
</div>
<div class="container col-md-6">
  <form method="POST" >
    {% csrf_token %}
  <div class="form-row">
    <div class="form-group  col-md-6">
      {{ form.issue_type|as_crispy_field }}
      {{ form.finish_date|as_crispy_field }}
      {{ form.priority|as_crispy_field }}
    </div>
    <div class="form-group col-md-6">
      {{ form.description|as_crispy_field }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group  col-md-6">
      <button id="btn_submit" type="submit" class="btn btn-success btn-block"> <i class="fa fa-save" aria-hidden="true"></i>  Create</button>
    </div>
    <div class="form-group col-md-6">
      <a id="btn_cancel" type="button" href="/dashboard/my_tickets" class="btn btn-danger btn-block" style="color: white;"><i class="fa fa-times-circle-o" aria-hidden="true"></i>  Cancel</a>
    </div>
  </div>
</form>
</div>

{% endblock %}
{% block js %}
{{ form.media }} 
<script>
  $(function(){
      $('form').on('submit', function(e){
        let overlay = document.getElementsByClassName('loading-overlay')[0]
        overlay.classList.toggle('is-active');
      });
  })
</script>
{% endblock %}