{% extends base_template_name %}
{% load static %}
{% block title %}Tickets{% endblock %}

{% block style %}
<link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet">

{% endblock %}


{% block content%}

{% include "app/_modal.html" %}
{% include "app/confirmation.html" %}
<div class="container">
    <div class="row">
        <div class="col col-md-8">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#new">New Tickets</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#working">Working On</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#complete">Complete</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#unassigned">Unassigned Tickets</a>
                </li>
                </ul>
        </div>
        <div class="col">
            <h3>Tickets list</h3>
          </div>
          <!-- <div class="col col-lg-3">
            <a type="button" href="/dashboard/tickets/create_new_ticket" class="btn btn-success btn-block" style="color: white;"><i class="fa fa-plus" aria-hidden="true"></i>  Create New Ticket</a>

          </div> -->
    
    </div>
<!-- Modal -->
    <hr />
    
    <!-- Nav tabs -->
    
    
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane container active" id="new">
            <table  id="example" class="table table-striped table-bordered tkt_tbl" style="width:100%">
                <thead>
                    <tr>
                        <th>Ticket No.</th>
                        <th>Issue</th>
                        <th>Issued By</th>
                        <th>Due Date</th>
                        <th>Created At</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in new_tickets %}
                <tr style="background-color: {% if item.is_past_due %}red{%endif%};">
                        <td data-order="{{ item.ticket_id }}">#{{ item.ticket_id }} </td>
                        <td>{{ item.issue_type }} </td>
                        <td>{{ item.user.username }} </td>
                        <td>{{ item.finish_date|date:'Y-m-d' }} </td>
                        <td>{{ item.created_at|date:'Y-m-d H:i' }} </td>
                        <td>
                            {{ item.status.status }}
                        </td>
                        <td style="background-color: {{item.priority_color}};" data-order="{{ item.priority_order }}">{{ item.priority }} </td>
                        <td>
                            <a type="button" data-id="{% url 'user_tickets:ticket_details' item.ticket_id %}" class="viewtkt btn btn-primary"> <i class="fa fa-eye" aria-hidden="true"></i>  </a>
                            <a type="button" data-toggle="modal" data-id="{{ item.ticket_id }}" data-target="#confirmationModal" class="start_working btn btn-success"> <i class="fa fa-play-circle" aria-hidden="true"></i>  </a>
                        </td>
                    </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane container fade" id="working">
            <table  id="working_tbl" class="table table-striped table-bordered tkt_tbl" style="width:100%">
                <thead>
                    <tr>
                        <th>Ticket No.</th>
                        <th>Issue</th>
                        <th>Issued By</th>
                        <th>Due Date</th>
                        <th>Created At</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in working_on %}
                    <tr style="background-color: {% if item.is_past_due %}red{%endif%};">
                        <td data-order="{{ item.ticket_id }}">#{{ item.ticket_id }} </td>
                        <td>{{ item.issue_type }} </td>
                        <td>{{ item.user.username }} </td>
                        <td>{{ item.finish_date|date:'Y-m-d' }} </td>
                        <td>{{ item.created_a|date:'Y-m-d H:i' }} </td>
                        <td>
                            {{ item.status.status }}
                        </td>
                        <td style="background-color: {{item.priority_color}};" data-order="{{ item.priority_order }}">{{ item.priority }} </td>
                        <td>
                            <a type="button" data-id="{% url 'user_tickets:ticket_details' item.ticket_id %}" class="viewtkt btn btn-primary"> <i class="fa fa-eye" aria-hidden="true"></i>  </a>
                            <a type="button" data-toggle="modal" data-id="{{ item.ticket_id }}" data-target="#confirmationModal" class="close_tkt btn btn-success"> <i class="fa fa-play-circle" aria-hidden="true"></i>  </a>
                        </td>
                    </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane container fade" id="complete">
            <table  id="complete_tbl" class="table table-striped table-bordered tkt_tbl" style="width:100%">
                <thead>
                    <tr>
                        <th>Ticket No.</th>
                        <th>Issue</th>
                        <th>Issued By</th>
                        <th>Due Date</th>
                        <th>Created At</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in complete %}
                    <tr>
                        <td data-order="{{ item.ticket_id }}">#{{ item.ticket_id }} </td>
                        <td>{{ item.issue_type }} </td>
                        <td>{{ item.user.username }} </td>
                        <td>{{ item.finish_date|date:'Y-m-d' }} </td>
                        <td>{{ item.created_at|date:'Y-m-d H:i' }} </td>
                        <td>
                            {{ item.status.status }}
                        </td>
                        <td style="background-color: {{item.priority_color}};" data-order="{{ item.priority_order }}">{{ item.priority }} </td>
                        <td>
                            <a type="button" data-id="{% url 'user_tickets:ticket_details' item.ticket_id %}" class="viewtkt btn btn-primary"> <i class="fa fa-eye" aria-hidden="true"></i>  </a>
                        </td>
                    </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane container fade" id="unassigned">
            <table  id="unassigned_tbl" class="table table-striped table-bordered tkt_tbl" style="width:100%">
                <thead>
                    <tr>
                        <th>Ticket No.</th>
                        <th>Issue</th>
                        <th>Issued By</th>
                        <th>Due Date</th>
                        <th>Created At</th>
                        <th>Status</th>
                        <th data-order="{% if item.priority == 'urgent' %} {{1}} {%elif item.priority == 'high'%}{{2}}{%elif item.priority == 'medium'%}{{3}}{%else%}{{4}}{%endif%}">Priority</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in unassigned %}
                    <tr style="background-color: {% if item.is_past_due %}red{%endif%};">
                        <td data-order="{{ item.ticket_id }}">#{{ item.ticket_id }} </td>
                        <td>{{ item.issue_type }} </td>
                        <td>{{ item.user.username }} </td>
                        <td>{{ item.finish_date|date:'Y-m-d' }} </td>
                        <td>{{ item.created_at|date:'Y-m-d H:i' }} </td>
                        <td>
                            {{ item.status.status }}
                        </td>
                        <td style="background-color: {{item.priority_color}};" data-order="{{ item.priority_order }}">{{ item.priority }} </td>
                        <td>
                            <a type="button" data-id="{% url 'user_tickets:ticket_details' item.ticket_id %}" class="viewtkt btn btn-primary"> <i class="fa fa-eye" aria-hidden="true"></i>  </a>
                        </td>
                    </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
</div>

{% endblock %}

{% block js %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('.tkt_tbl').DataTable();
        $('.viewtkt').on('click', function(){
            $(this).modalForm({
                formURL: $(this).data('id')
            });
        });
        $('#confirmationModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            ticket_id = parseInt( button.data('id'));
            var modal = $(this)
            modal.find('.modal-title').text('Ticket #' + ticket_id)
            var confirm_url;
            var args;
            var alert_message;
            if(button.hasClass('start_working')){
                modal.find('.modal-body').text('Do you want to start working on Issue #'+ ticket_id + '?')
                confirm_url = "{% url 'engineer_app:start_working_confirm' %}";
                alert_message='Ticket status successfully changed.'
                
            } else if (button.hasClass('close_tkt')) {
                html = '';
                html += '<h6>Have you solved the Issue?</h6>';
                html += '<form><textarea id="close_comment" class="form-control" placeholder="Type your comment for future references... (optional)" ></textarea>';
                modal.find('.modal-body').html(html)
                
                confirm_url = "{% url 'engineer_app:close_ticket' %}";
                alert_message='Ticket successfully closed.'
                
            }
           
            $('#btn_confirm').off('click').one('click', function(){
                $('#confirmationModal').modal('hide');

                if(button.hasClass('close_tkt')){
                    args = {
                        'pk': ticket_id,
                        'comment': $('#close_comment').val()
                    }
                } else{
                    args = {
                        'pk': ticket_id,
                    }
                }
                debugger
                $.ajax({
                    type: 'GET',
                    url: confirm_url,
                    data: args,
                    dataType: 'json',
                    success: function (data) {
                        alert(alert_message);
                        document.location.href ="{% url 'engineer_app:eng_ticket_list' %}";
                    }
                });
            });
        });
    });

</script>
{% endblock %}