{% extends "app/base.html" %}

{% block title %}Create an Account{% endblock %}
{% load crispy_forms_tags %}

{% block content%}
<section class="base-section">
    <div class="container">
      <div class="row">
            <!-- ***** FAQ Start ***** -->
            <div class="col-md-10 offset-md-2">

                <div class="base-title text-center pb-2">
                    <h2>Register an Account</h2>
                </div>
            </div>
            <div class="col-md-10 offset-md-2">
                <form method="POST" class="form-group">
                    {% csrf_token %}
                    <!-- to error: add class "has-danger" -->
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                    
                    <div class="sign-up">
                        Already have an account? <a href="/login">Sign in</a>
                    </div>
                </form>
            </div>
            </div>
        </div>
        </section>
    
    
{% endblock %}