{% extends 'app/base.html' %}
{% load static %}

{% block dash_style %}
<link rel="stylesheet" href="{% static "app/css/dash_base.css" %}" >
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}


{% block dash_nav %}
  <div class="sidebar-container" >
    <div class="sidebar-logo">
        Welcome,  {{ user.username }}
    </div>
    <ul class="sidebar-navigation">
      <li class="header">Site Navigation</li>
      <li>
        <a href="/dashboard/">
          <i class="fa fa-home" aria-hidden="true"></i> Dashboard
        </a>
      </li>
      {% block sidnav %}{% endblock %}
      <li>
        <a href="#">
          <i class="fa fa-info-circle" aria-hidden="true"></i> Information
        </a>
      </li>
      <li class="header">User Navigation</li>
      <li>
        <a href="{% url 'accounts:updateprofile' pk=user.profile.id %}">
          <i class="fa fa-cog" aria-hidden="true"></i> Profile
        </a>
      </li>
      <li>
        <a href="{% url 'logout' %}">
          <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
        </a>
      </li>
    </ul>
  </div>          
{% endblock %}


          

{% block js %}

{% endblock %}
