{% extends 'app/base.html' %}

{% block style %}
    <style type="text/css">
        
        .faq {
        background: #FFFFFF;
        box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
        border-radius: 4px;
        }

        .faq .card {
        border: none;
        background: none;
        border-bottom: 1px dashed #CEE1F8;
        }

        .faq .card .card-header {
        padding: 0px;
        border: none;
        background: none;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        }

        .faq .card .card-header:hover {
            background: rgba(233, 30, 99, 0.1);
            padding-left: 10px;
        }
        .faq .card .card-header .faq-title {
        width: 100%;
        text-align: left;
        padding: 0px;
        padding-left: 30px;
        padding-right: 30px;
        font-weight: 400;
        font-size: 15px;
        letter-spacing: 1px;
        color: #3B566E;
        text-decoration: none !important;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        cursor: pointer;
        padding-top: 20px;
        padding-bottom: 20px;
        }

        .faq .card .card-header .faq-title .badge {
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 14px;
        float: left;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        text-align: center;
        background: #00cc00;
        color: #fff;
        font-size: 12px;
        margin-right: 20px;
        }

        .faq .card .card-body {
        padding: 30px;
        padding-left: 35px;
        padding-bottom: 16px;
        font-weight: 400;
        font-size: 16px;
        color: #6F8BA4;
        line-height: 28px;
        letter-spacing: 1px;
        border-top: 1px solid #F3F8FF;
        }

        .faq .card .card-body p {
        margin-bottom: 14px;
        }

        @media (max-width: 991px) {
        .faq {
            margin-bottom: 30px;
        }
        .faq .card .card-header .faq-title {
            line-height: 26px;
            margin-top: 10px;
        }
        }
    </style>
{% endblock %}
{% block title %}FAQs - Arif Systems{% endblock %}

{% block content %}

    <section class="base-section">
        <div class="container">
          <div class="row">
                <!-- ***** FAQ Start ***** -->
                <div class="col-md-10 offset-md-1">

                    <div class="base-title text-center pb-1">
                        <h2>FAQs - Frequently Asked Questions</h2>
                    </div>
                </div>
                <div class="col-md-10 offset-md-1">
                    <div class="faq" id="accordion">
                        {% for item in list %}
                            <div class="card">
                                <div class="card-header" id="faqHeading-1">
                                    <div class="mb-0">
                                        <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-{{item.id}}" data-aria-expanded="true" data-aria-controls="faqCollapse-{{item.id}}">
                                            <span class="badge">{{ forloop.counter }}</span>{{item.question}}
                                        </h5>
                                    </div>
                                </div>
                                <div id='faqCollapse-{{item.id}}' class="collapse" aria-labelledby="faqHeading-{{item.id}}" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>{{item.answer}}</p>
                                    </div>
                                    {% if  user.groups.all.0.name == "admin"  %}                                        <div>
                                            <a type="button" href="{% url 'edit_faq' pk=item.id %}" class="btn btn-success btn-block" style="color: white;"><i class="fa fa-plus" aria-hidden="true"></i>  Edit Faq</a>
                                            <a type="button" href="{% url 'faq_remove' pk=item.id %}" class="btn btn-success btn-block" style="color: white;"><i class="fa fa-plus" aria-hidden="true"></i>  Remove Faq</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        
                        
                    </div>
                </div>
                </div>
            </div>
            </section>
{% endblock %}