{% extends "app/dash_base.html" %}

{% block sidnav %}
    <li>
        <a href="/dashboard/tickets/">
        <i class="fa fa-ticket" aria-hidden="true"></i> Tickets
        </a>
    </li>
    <li>
        <a href="{% url 'engineer_app:engineers_list' %}">
          <i class="fa fa-user-md" aria-hidden="true"></i> Engineers
        </a>
    </li>
    <li>
        <a href="#">
          <i class="fa fa-users" aria-hidden="true"></i> Users
        </a>
    </li>
    <li>
        
      <a href="{% url 'create_faq' %}">
        <i class="fa fa-users" aria-hidden="true"></i> FAQs
      </a>
  </li>
    <li>
      <a href="{% url 'admin_app:admin_reports' %}">
          <i class="fa fa-bar-chart" aria-hidden="true"></i> Reports
        </a>
    </li>
{% endblock %}