{% extends base_template_name %}
{% load static %}

{% block title %}Tickets{% endblock %}

{% block style %}
<link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet">

{% endblock %}


{% block content%}
{% include "app/_modal.html" %}
{% include "app/chat.html" %}
<div class="container">
    <div class="row">
        <div class="col col-md-8">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#new">New Tickets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#assigned">Assigned</a>
                </li>  
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#working">Inprogress</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#complete">Complete</a>
                </li>
            </ul>
        </div>
        <div class="col">
            <h3>Tickets list</h3>
          </div>
    
    </div>
<!-- Modal -->
    <hr />
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane container active" id="new">
            <table  id="example" class="table table-striped table-bordered tkt_tbl" style="width:100%">
                <thead>
                    <tr>
                        <th>Ticket No.</th>
                        <th>Issue</th>
                        <th>Issued By</th>
                        <th>Due Date</th>
                        <th>Created At</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in new_tickets %}
                    <tr style="background-color: {% if item.is_past_due %}red{%endif%};">
                        <td data-order="{{ item.ticket_id }}">#{{ item.ticket_id }} </td>
                        <td>{{ item.issue_type }} </td>
                        <td>{{ item.user.username }} </td>
                        <td>{{ item.finish_date|date:'Y-m-d' }} </td>
                        <td>{{ item.created_at|date:'Y-m-d H:i' }} </td>
                        <td>
                            {% if item.status %}
                                {{ item.status.status }}
                            {% else %}
                                Pending
                            {% endif %}
                        </td>
                        <td style="background-color: {{item.priority_color}};" data-order="{{ item.priority_order }}">{{ item.priority }} </td>
                        <td>
                            <a type="button"  href="{% url 'admin_app:assign_tickets' item.ticket_id %}" class="btn btn-success"> <i class="fa fa-user-plus" aria-hidden="true"></i> </a>
                            <a type="button" data-id="{% url 'user_tickets:ticket_details' item.ticket_id %}" class="viewtkt btn btn-primary"> <i class="fa fa-eye" aria-hidden="true"></i>  </a>
                            <a type="button" data-toggle="modal" data-id="{{ item.ticket_id }}" data-target="#chatModal" class="chat btn btn-success"> <i class="fa fa-comments" aria-hidden="true"></i>  </a>
                        </td>
                    </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane container fade" id="assigned">
            <table  id="assigned_tbl" class="table table-striped table-bordered tkt_tbl" style="width:100%">
                <thead>
                    <tr>
                        <th>Ticket No.</th>
                        <th>Issue</th>
                        <th>Issued By</th>
                        <th>Due Date</th>
                        <th>Created At</th>
                        <th>Assigned To</th>
                        <th>Priority</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in assigned %}
                    <tr style="background-color: {% if item.is_past_due %}red{%endif%};">
                        <td data-order="{{ item.ticket_id }}">#{{ item.ticket_id }} </td>
                        <td>{{ item.issue_type }} </td>
                        <td>{{ item.user.username }} </td>
                        <td>{{ item.finish_date|date:'Y-m-d' }} </td>
                        <td>{{ item.created_at|date:'Y-m-d H:i' }} </td>
                        <td>
                            {{ item.assigned_to }}
                        </td>
                        <td style="background-color: {{item.priority_color}};" data-order="{{ item.priority_order }}">{{ item.priority }} </td>
                        <td>
                            <a type="button" data-id="{% url 'user_tickets:ticket_details' item.ticket_id %}" class="viewtkt btn btn-primary"> <i class="fa fa-eye" aria-hidden="true"></i>  </a>
                            <a type="button" data-toggle="modal" data-id="{{ item.ticket_id }}" data-target="#chatModal" class="chat btn btn-success"> <i class="fa fa-comments" aria-hidden="true"></i>  </a>
                        </td>
                    </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane container fade" id="working">
            <table  id="working_tbl" class="table table-striped table-bordered tkt_tbl" style="width:100%">
                <thead>
                    <tr>
                        <th>Ticket No.</th>
                        <th>Issue</th>
                        <th>Issued By</th>
                        <th>Due Date</th>
                        <th>Created At</th>
                        <th>Assigned To</th>
                        <th>Priority</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in working_on %}
                    <tr style="background-color: {% if item.is_past_due %}red{%endif%};">
                        <td data-order="{{ item.ticket_id }}">#{{ item.ticket_id }} </td>
                        <td>{{ item.issue_type }} </td>
                        <td>{{ item.user.username }} </td>
                        <td>{{ item.finish_date|date:'Y-m-d' }} </td>
                        <td>{{ item.created_at|date:'Y-m-d H:i' }} </td>
                        <td>
                            {{ item.assigned_to }}
                        </td>
                        <td style="background-color: {{item.priority_color}};" data-order="{{ item.priority_order }}">{{ item.priority }} </td>
                        <td>
                            <a type="button" data-id="{% url 'user_tickets:ticket_details' item.ticket_id %}" class="viewtkt btn btn-primary"> <i class="fa fa-eye" aria-hidden="true"></i>  </a>
                            <a type="button" data-toggle="modal" data-id="{{ item.ticket_id }}" data-target="#chatModal" class="chat btn btn-success"> <i class="fa fa-comments" aria-hidden="true"></i>  </a>
                        </td>
                    </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane container fade" id="complete">
            <table  id="complete_tbl" class="table table-striped table-bordered tkt_tbl" style="width:100%">
                <thead>
                    <tr>
                        <th>Ticket No.</th>
                        <th>Issue</th>
                        <th>Issued By</th>
                        <th>Due Date</th>
                        <th>Created At</th>
                        <th>Assigned To</th>
                        <th>Priority</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in complete %}
                    <tr>
                        <td data-order="{{ item.ticket_id }}">#{{ item.ticket_id }} </td>
                        <td>{{ item.issue_type }} </td>
                        <td>{{ item.user.username }} </td>
                        <td>{{ item.finish_date|date:'Y-m-d' }} </td>
                        <td>{{ item.created_at|date:'Y-m-d H:i' }} </td>
                        <td>
                            {{ item.assigned_to }}
                        </td>
                        <td style="background-color: {{item.priority_color}};" data-order="{{ item.priority_order }}">{{ item.priority }} </td>
                        <td>
                            <a type="button" data-id="{% url 'user_tickets:ticket_details' item.ticket_id %}" class="viewtkt btn btn-primary"> <i class="fa fa-eye" aria-hidden="true"></i>  </a>
                        </td>
                    </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>

{% endblock %}

{% block js %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
<script src="{% static 'js/chat.js' %}"></script>
<script>
    $(document).ready(function() {
        $('.viewtkt').on('click', function(){
            $(this).modalForm({
                formURL: $(this).data('id')
            });
        });
        $('.tkt_tbl').DataTable();

    } );
</script>
{% endblock %}